1. пиши только на русском языке
2. не меняй дизайн и элементы если я сделал такой запрос
3. если я пишу что мы меняем отображение для телефона, не нужно менять и для компьютера
4. SafeToAutoRun: false
5. Когда мы исправляем ошибки npm run build, не меняй дизайн сайта и его элементы, только исправляй ошбики